html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote, pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt, dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article, aside, canvas, details,figcaption,figure,footer,header,hgroup,menu,nav,section, summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;line-height:1;}

body {
  
}

footer {
  display:block;
  margin-top:20px;
  border-top:3px solid #4b947d;
  padding:10px;
}

h1 {
  color:#95524C;
  margin:5px 40px;
  font-size:72px;
  font-weight:bold;
  font-family:Megrim,sans;
}

.button{
  background:#4b7194;color:#fff;
  text-transform:uppercase;
  border-radius:12px;border:none;
  font-weight:bold;font-size:16px;
  padding: 6px 12px;margin-left:40px;
  cursor:pointer;
  &:hover{background:#54A0E7;}
}
  
#robots {
  list-style:none;
  overflow:hidden;
  margin:20px;
}

.robot {
  float:left;
  width:100px;
  padding:10px 0;
  position:relative;
} 
.robot form {
    display:none;
    position:absolute;
    top:0;
    right:0;
}

.robot:hover form {
    display:block;
}

.robot form input {
    background:rgba(#000,0.7);
    padding:0 4px;
    color:white;
    cursor:pointer; 
    font-size:32px;
    font-weight:bold;
    text-decoration:none;
    border-radius:16px;
    line-height:0.8;
    border:none; 
}
  

.robot img {
    display:block;
    padding:0 10px;
}


